<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.chess.saldo" 
	android:versionName="1.07" 
	android:versionCode="15">
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<receiver android:label="@string/name_widget" android:name="com.chess.saldo.WidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
			</intent-filter>
			<meta-data android:resource="@xml/widget_provider" android:name="android.appwidget.provider"></meta-data>
		</receiver>

		<activity android:label="Chess Saldo preferences" android:name="com.chess.saldo.ConfigureActivity">
		    <intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		
		<activity android:label="Chess Saldo" android:name="com.chess.saldo.MainActivity">
		    <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<service android:enabled="true" android:name="com.chess.saldo.UpdateService"></service>
		
		<activity android:name="com.chess.saldo.AppPreferenceActivity" android:label="Preference Activity"></activity>
		
	</application>
</manifest>