<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.bcseime.android.chess.saldo2"
    android:versionName="4.11" android:versionCode="28">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:allowBackup="true">

        <receiver android:label="@string/name_widget_small" android:name="com.chess.saldo.WidgetProviders$Small">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/small_widget_provider" />
        </receiver>

        <receiver android:label="@string/name_widget_large" android:name="com.chess.saldo.WidgetProviders$Large">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/large_widget_provider" />
        </receiver>

        <receiver android:name="com.chess.saldo.ConnectivityBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

		<activity android:label="Chess Saldo preferences" android:name="com.chess.saldo.WidgetConfigureActivity" android:configChanges="orientation|screenSize">
		    <intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>

		<activity android:label="Chess Saldo" android:name="com.chess.saldo.MainActivity" android:configChanges="orientation|screenSize">
		    <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service android:enabled="true" android:name="com.chess.saldo.UpdateService"/>

		<activity android:name="com.chess.saldo.SettingsActivity" android:label="Preference Activity"/>

	</application>
</manifest>
